<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.password">1234.Abcd</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/animales</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.default_schema">animales</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<mapping class="com.dam.DAM2_21_22_ProyectoHibernateCompleto.Animal"/>
	    <mapping class="com.dam.DAM2_21_22_ProyectoHibernateCompleto.Perro"/>
	    <mapping class="com.dam.DAM2_21_22_ProyectoHibernateCompleto.Gato"/>
	    <mapping class="com.dam.DAM2_21_22_ProyectoHibernateCompleto.Dueno"/>
	    <mapping class="com.dam.DAM2_21_22_ProyectoHibernateCompleto.Veterinario"/>
	</session-factory>
</hibernate-configuration>
